body {
    font-family: 'Candara', sans-serif; 
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #444; 
}

header {
    text-align: center;
    background: linear-gradient(90deg, #008839, #45C490); 
    color: #fff;
    padding: 2rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header p {
    font-size: 1.3rem;
    margin: 1rem 0 0;
    font-style: italic;
}

main {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

main p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

main h2 {
    font-size: 2rem;
    margin-top: 1rem;
    color: #28B463;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem 0;
    margin-top: 2rem;
}
